name: Build PR

on:
  workflow_dispatch:
  pull_request:

env:
  test_container_name_ee: hazelcast-ee-test
  docker_log_file_ee: docker-hazelcast-ee-test.log

jobs:
  build-pr-oss:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Test scripts
        run: |
          ./.github/scripts/test_scripts.sh

      - name: Build Test EE image
        run: |
          docker buildx build --load --tag hazelcast-ee:test hazelcast-enterprise

      - name: Run smoke test against EE image
        timeout-minutes: 2
        run: |
          export HZ_LICENSEKEY=${{ secrets.HZ_ENTERPRISE_LICENSE }}
          .github/scripts/simple-smoke-test.sh hazelcast-ee:test ${{ env.test_container_name_ee }}

      - name: Get docker logs
        if: ${{ always() }}
        run: |
          docker logs ${{ env.test_container_name_ee }} > ${{ env.docker_log_file_ee }}

      - name: Store docker logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: docker-logs
          path: |
            ${{ env.docker_log_file_ee }}
