name: Build PR

on:
  pull_request:

jobs:
  prepare:
    runs-on: ubuntu-latest
    name: Prepare environment
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Test scripts
        run: |
          .github/scripts/test_scripts.sh

  test-push:
    name: Test pushing image
    uses: ./.github/workflows/tag_image_push.yml
    with:
      SOURCE_REF: ${{ github.ref }}
      RELEASE_TYPE: ALL
      ENVIRONMENT: test
    secrets: inherit

  test-push-nlc:
    name: Test pushing image
    uses: ./.github/workflows/ee-nlc-tag-push.yml
    with:
      SOURCE_REF: ${{ github.ref }}
      ENVIRONMENT: test
    secrets: inherit
