name: Build EE NLC image

on:
  workflow_dispatch:
    inputs:
      SOURCE_REF:
        description: 'The hazelcast-docker branch to build the image from'
        required: true
      HZ_REVISION:
        description: 'Commit id of Hazelcast snapshot jar'
        required: false
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      SOURCE_REF:
        description: 'The hazelcast-docker branch to build the image from'
        required: true
        type: string
      HZ_REVISION:
        description: 'Commit id of Hazelcast snapshot jar'
        required: false
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  package-nlc:
    uses: ./.github/workflows/ee-nlc-tag-package.yml
    with:
      SOURCE_REF: ${{ inputs.SOURCE_REF }}
      HZ_REVISION: ${{ inputs.HZ_REVISION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  promote-nlc:
    needs: package-nlc
    uses: ./.github/workflows/ee-nlc-tag-promote.yml
    with:
      VERSION: ${{ inputs.SOURCE_REF }}
      HZ_REVISION: ${{ inputs.HZ_REVISION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit
