name: Build EE NLC snapshot image

on:
  push:
    branches:
      - "!*"
    tags:
      - "v5.*"


jobs:
  push:
    runs-on: ubuntu-latest
    env:
      NLC_REPOSITORY: ${{ secrets.NLC_REPOSITORY }}
      NLC_REPO_USERNAME: ${{ secrets.NLC_REPO_USERNAME }}
      NLC_REPO_TOKEN: ${{ secrets.NLC_REPO_TOKEN }}
      NLC_IMAGE_NAME: ${{ secrets.NLC_IMAGE_NAME }}
      S3_NLC_URL: ${{ secrets.S3_NLC_URL }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Set NLC zip URL
        run: |
          S3_NLC_ZIP_URL=${S3_NLC_URL}/hazelcast-enterprise-${RELEASE_VERSION}-nlc.zip

          echo "S3_NLC_ZIP_URL=${S3_NLC_ZIP_URL}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token:  ${{ secrets.AWS_SESSION_TOKEN}}
          aws-region: 'us-east-1'

      - name: Download NLC zip from S3
        run: aws s3 cp ${S3_NLC_ZIP_URL} ./hazelcast-enterprise/hazelcast-enterprise-distribution.zip
          
      - name: Login to Docker Hub
        run: echo "${NLC_REPO_TOKEN}" | docker login -u ${NLC_REPO_USERNAME} ${NLC_REPOSITORY} --password-stdin

      - name: Build EE image
        run: |
          docker build \
            --build-arg HZ_VERSION=${RELEASE_VERSION} \
            --tag ${NLC_IMAGE_NAME}:${RELEASE_VERSION} hazelcast-enterprise

      - name: Push EE image
        run: docker push ${NLC_IMAGE_NAME}:${RELEASE_VERSION} 