name: Build EE NLC tag image

on:
  push:
    branches:
      - "!*"
    tags:
      - "v5.*"

env:
  test_container_name_ee: hazelcast-ee-test

jobs:
  push:
    runs-on: ubuntu-latest
    env:
      NLC_REPOSITORY: ${{ secrets.NLC_REPOSITORY }}
      NLC_REPO_USERNAME: ${{ secrets.NLC_REPO_USERNAME }}
      NLC_REPO_TOKEN: ${{ secrets.NLC_REPO_TOKEN }}
      NLC_IMAGE_NAME: ${{ secrets.NLC_IMAGE_NAME }}
      S3_NLC_URL: ${{ secrets.S3_NLC_URL }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF:11}" >> $GITHUB_ENV

      - name: Set NLC zip URL
        run: |
          S3_NLC_ZIP_URL=${S3_NLC_URL}/hazelcast-enterprise-${RELEASE_VERSION}-nlc.zip

          echo "S3_NLC_ZIP_URL=${S3_NLC_ZIP_URL}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-1'

      - name: Get presigned NLC URL from S3
        run: |
          HAZELCAST_ZIP_URL="$(aws s3 presign ${S3_NLC_ZIP_URL} --expires-in 600)"
          echo "HAZELCAST_ZIP_URL=${HAZELCAST_ZIP_URL}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        run: echo "${NLC_REPO_TOKEN}" | docker login -u ${NLC_REPO_USERNAME} ${NLC_REPOSITORY} --password-stdin

      - name: Build EE image
        run: |
          docker build \
            --build-arg HZ_VERSION=${RELEASE_VERSION} \
            --build-arg HAZELCAST_ZIP_URL=${HAZELCAST_ZIP_URL} \
            --tag ${NLC_IMAGE_NAME}:${RELEASE_VERSION} hazelcast-enterprise

      - name: Run smoke test against EE image
        timeout-minutes: 2
        run: |
          .github/scripts/simple-smoke-test.sh ${NLC_IMAGE_NAME}:${RELEASE_VERSION} ${{ env.test_container_name_ee }}

      - name: Get docker logs
        if: ${{ always() }}
        run: |
          DOCKER_LOG_FILE_EE=docker-hazelcast-ee-test.log
          echo "DOCKER_LOG_FILE_EE=${DOCKER_LOG_FILE_EE}" >> $GITHUB_ENV
          docker logs ${{ env.test_container_name_ee }} > ${DOCKER_LOG_FILE_EE}

      - name: Store docker logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: docker-logs
          path: |
            ${{ env.DOCKER_LOG_FILE_EE }}

      - name: Push EE image
        run: docker push ${NLC_IMAGE_NAME}:${RELEASE_VERSION} 
