name: Build EE snapshot image

on:
  workflow_dispatch:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for'
        required: true

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.0.1

      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.1.1
        with:
          version: v0.5.1

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build/Push EE image
        run: |
          docker buildx build --push \
            --build-arg HZ_VERSION=${{ github.event.inputs.HZ_VERSION }} \
            --tag hazelcast/hazelcast-enterprise:latest-snapshot \
            --platform=linux/arm64,linux/amd64,linux/ppc64le,linux/s390x hazelcast-enterprise 

      - name: Scan Hazelcast Enterprise image by Azure (Trivy + Dockle)
        if: always()
        uses: Azure/container-scan@v0
        with:
          image-name: hazelcast/hazelcast:latest-snapshot

      - name: Scan Hazelcast Enterprise image by Anchore
        if: always()
        uses: anchore/scan-action@2.0.3
        with:
          image-name: hazelcast/hazelcast:latest-snapshot
          fail-build: true

      - name: Scan Hazelcast Enterprise image by Snyk
        if: always()
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image-name: hazelcast/hazelcast:latest-snapshot
          args: --file=hazelcast-enterprise/Dockerfile --policy-path=.github/containerscan
