name: Build EE snapshot image

on:
  workflow_dispatch:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for'
        required: true
      HZ_EE_REVISION:
        description: 'Commit id of Hazelcast Enterprise snapshot jar'
        required: true
env:
  test_container_name_ee: hazelcast-ee-test

jobs:
  jdks:
    uses: ./.github/workflows/get-supported-jdks.yaml

  push:
    runs-on: ubuntu-latest
    needs: jdks
    strategy:
      matrix:
        jdk: ${{ fromJSON(needs.jdks.outputs.jdks) }}
        variant: [ 'slim','' ]
        include:
          - variant: slim
            suffix: '-slim'
          - variant: ''
            suffix: ''
    env:
      DOCKER_ORG: hazelcast
      HZ_VERSION : ${{ github.event.inputs.HZ_VERSION }}
    steps:
      - name: Install xmllint
        run: |
          # xmllint is not part of the default image, but required for scripts used in Docker build
          # https://github.com/actions/runner-images/issues/423
          sudo apt-get update
          sudo apt-get install --yes libxml2-utils

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0

      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.5.1

      - name: Build Test EE image
        run: |
          . .github/scripts/ee_build.functions.sh
          docker buildx build --load \
            --build-arg JDK_VERSION=${{ matrix.jdk }} \
            --build-arg HZ_VERSION=${HZ_VERSION} \
            --build-arg HAZELCAST_ZIP_URL=$(get_hz_dist_zip ${{ matrix.variant }} ${HZ_VERSION} ${{ matrix.suffix }}) \
            --tag hazelcast-ee:test \
            hazelcast-enterprise

      - name: Run smoke test against EE image
        timeout-minutes: 2
        run: |
          export HZ_LICENSEKEY=${{ secrets.HZ_ENTERPRISE_LICENSE }}
          .github/scripts/simple-smoke-test.sh hazelcast-ee:test ${{ env.test_container_name_ee }}

      - name: Get docker logs
        if: ${{ always() }}
        run: |
          DOCKER_LOG_FILE_EE=docker-hazelcast-ee-test${{ matrix.suffix }}-jdk${{ matrix.jdk }}.log
          echo "DOCKER_LOG_FILE_EE=${DOCKER_LOG_FILE_EE}" >> $GITHUB_ENV
          docker logs ${{ env.test_container_name_ee }} > ${DOCKER_LOG_FILE_EE}

      - name: Store docker logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: docker-logs${{ matrix.suffix }}-jdk${{ matrix.jdk }}
          path: |
            ${{ env.DOCKER_LOG_FILE_EE }}

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build/Push EE image
        run: |
          . .github/scripts/get-tags-to-push.sh 
          . .github/scripts/docker.functions.sh
          . .github/scripts/oss_build.functions.sh
          
          VERSIONS=("$HZ_VERSION")
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
              VERSIONS+=(latest-snapshot)
          fi
          
          DOCKER_DIR=hazelcast-enterprise
          IMAGE_NAME=${{ env.DOCKER_ORG }}/hazelcast-enterprise
          DEFAULT_JDK="$(get_default_jdk $DOCKER_DIR)"

          TAGS_TO_PUSH=$(augment_with_suffixed_tags "${VERSIONS[*]}" "${{ matrix.suffix }}" "${{ matrix.jdk }}" "$DEFAULT_JDK")
          echo "TAGS_TO_PUSH=$TAGS_TO_PUSH"
          TAGS_ARG=""
          for tag in ${TAGS_TO_PUSH[@]}
          do
            TAGS_ARG="${TAGS_ARG} --tag ${IMAGE_NAME}:${tag}"
          done

          PLATFORMS="$(get_ubi_supported_platforms "${{ matrix.jdk }}")"
          docker buildx build --push \
            --build-arg HZ_VERSION=${HZ_VERSION} \
            --build-arg JDK_VERSION=${{ matrix.jdk }} \
            --label hazelcast.ee.revision=${{ github.event.inputs.HZ_EE_REVISION }} \
            --build-arg HAZELCAST_ZIP_URL=$(get_hz_dist_zip ${{ matrix.variant }} ${HZ_VERSION} ${{ matrix.suffix }}) \
            ${TAGS_ARG} \
            --platform=${PLATFORMS} $DOCKER_DIR
      - name: Slack notification
        uses: ./.github/actions/slack-notification
        if: failure()
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK }}
