name: Get environment

on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string
    outputs:
        environment:
            value: ${{ inputs.ENVIRONMENT || 'live' }}

jobs:
  get-environment:
    runs-on: ubuntu-slim
    steps:
      - run: exit 0
