name: Build OSS snapshot image

on:
  workflow_dispatch:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for'
        required: true
      HZ_REVISION:
        description: 'Commit id of Hazelcast snapshot jar'
        required: true
env:
  test_container_name_oss: hazelcast-oss-test

jobs:
  jdks:
    uses: ./.github/workflows/get-supported-jdks.yaml

  push:
    runs-on: ubuntu-latest
    needs: jdks
    strategy:
      fail-fast: false
      matrix:
        jdk: ${{ fromJSON(needs.jdks.outputs.jdks) }}
        variant: [ 'slim','' ]
        include:
          - variant: slim
            suffix: '-slim'
          - variant: ''
            suffix: ''
    env:
      DOCKER_ORG: hazelcast
      HZ_VERSION: ${{ github.event.inputs.HZ_VERSION }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.0.0

      - name:  Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.5.1

      - name: Build Test OSS image
        run: |
          docker buildx build --load \
            --build-arg HZ_VERSION=${HZ_VERSION} \
            --build-arg HZ_VARIANT=${{ matrix.variant }} \
            --build-arg JDK_VERSION=${{ matrix.jdk }} \
            --build-arg HAZELCAST_ZIP_URL=$(.github/scripts/get-hz-dist-zip.sh) \
            --tag hazelcast-oss:test \
            hazelcast-oss

      - name: Run smoke test against OSS image
        timeout-minutes: 2
        run: |
          .github/scripts/simple-smoke-test.sh hazelcast-oss:test ${{ env.test_container_name_oss }}

      - name: Get docker logs
        if: ${{ always() }}
        run: |
          DOCKER_LOG_FILE_OSS=docker-hazelcast-oss-test${{ matrix.suffix }}-jdk${{ matrix.jdk }}.log
          echo "DOCKER_LOG_FILE_OSS=${DOCKER_LOG_FILE_OSS}" >> $GITHUB_ENV
          docker logs ${{ env.test_container_name_oss }} > ${DOCKER_LOG_FILE_OSS}

      - name: Store docker logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: docker-logs${{ matrix.suffix }}-jdk${{ matrix.jdk }}
          path: |
            ${{ env.DOCKER_LOG_FILE_OSS }}

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build/Push OSS image
        run: |
          set -eEuo pipefail ${RUNNER_DEBUG:+-x}
          . .github/scripts/get-tags-to-push.sh 
          . .github/scripts/docker.functions.sh
          
          VERSIONS=("$HZ_VERSION")
          if [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
          VERSIONS+=(latest-snapshot)
          fi
          
          DOCKER_DIR=hazelcast-oss
          IMAGE_NAME=${{ env.DOCKER_ORG }}/hazelcast
          DEFAULT_JDK="$(get_default_jdk $DOCKER_DIR)"

          TAGS_TO_PUSH=$(augment_with_suffixed_tags "${VERSIONS[*]}" "${{ matrix.suffix }}" "${{ matrix.jdk }}" "$DEFAULT_JDK")
          echo "TAGS_TO_PUSH=$TAGS_TO_PUSH"
          TAGS_ARG=""
          for tag in ${TAGS_TO_PUSH[@]}
          do
            TAGS_ARG="${TAGS_ARG} --tag ${IMAGE_NAME}:${tag}"
          done
          
          PLATFORMS="$(get_alpine_supported_platforms "${{ matrix.jdk }}")"
          docker buildx build --push \
            --build-arg HZ_VERSION=${HZ_VERSION} \
            --build-arg HZ_VARIANT=${{ matrix.variant }} \
            --build-arg JDK_VERSION=${{ matrix.jdk }} \
            --label hazelcast.revision=${{ github.event.inputs.HZ_REVISION }} \
            --build-arg HAZELCAST_ZIP_URL=$(.github/scripts/get-hz-dist-zip.sh) \
            $TAGS_ARG \
            --platform=${PLATFORMS} $DOCKER_DIR
      - name: Slack notification
        uses: ./.github/actions/slack-notification
        if: failure()
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK }}
