name: Do release

on:
  # For `push` events, will retag / build _only_ if this is retagging an _existing_ tag
  push:
    branches:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      SOURCE_REF:
        description: 'The hazelcast-docker branch to create the tag from'
        required: true
      RELEASE_TYPE:
        description: 'What should be built'
        required: false
        default: 'EE'
        type: choice
        options:
          - ALL
          - OSS
          - EE
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment

jobs:
  prepare:
    runs-on: ubuntu-slim
    outputs:
      source-ref: ${{ steps.calculate-source-ref.outputs.REF }}
      tag-name: ${{ steps.calculate-tag-name.outputs.NAME }}
      skip: ${{ steps.check-tag-exists.outputs.skip }}
    steps:
      - uses: actions/checkout@v6

      - name: Calculate source ref
        id: calculate-source-ref
        run: |
          echo "REF=${SOURCE_REF}" >> ${GITHUB_OUTPUT}
        env:
          SOURCE_REF: ${{ github.event.inputs.SOURCE_REF || github.ref_name }}

      - name: Calculate tag name
        id: calculate-tag-name
        run: |
          echo "NAME=v${{ steps.calculate-source-ref.outputs.REF }}" >> ${GITHUB_OUTPUT}

      - name: Check `${{ steps.calculate-tag-name.outputs.NAME }}` tag exists
        if: ${{ github.event_name == 'push' }}
        id: check-tag-exists
        run: |
          source .github/scripts/logging.functions.sh

          if gh release view --repo ${GITHUB_REPOSITORY} ${{ steps.calculate-tag-name.outputs.NAME }}; then
            echodebug "\"${{ steps.calculate-tag-name.outputs.NAME }}\" tag already exists, removing to recreate"
            gh api \
              -X DELETE \
              repos/${GITHUB_REPOSITORY}/git/refs/tags/${{ needs.prepare.outputs.tag-name }}
          else
            echonotice "\"${{ steps.calculate-tag-name.outputs.NAME }}\" tag not found to replace, skipping"
            echo "skip=true" >> ${GITHUB_OUTPUT}
          fi
        env:
          GH_TOKEN: ${{ github.token }}

  get-environment:
    uses: ./.github/workflows/get-environment.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}

  tag:
    runs-on: ubuntu-slim
    if: ${{ needs.prepare.outputs.skip != 'true' }}
    needs: prepare
    steps:
      - name: Create `${{ needs.prepare.outputs.tag-name }}` tag
        run: |
          SHA=$(gh api \
            repos/${GITHUB_REPOSITORY}/git/ref/heads/${{ needs.prepare.outputs.source-ref }} \
            --jq .object.sha)

          # Create remote tag
          gh api \
            -X POST \
            repos/${GITHUB_REPOSITORY}/git/refs \
            -f ref=refs/tags/${{ needs.prepare.outputs.tag-name }} \
            -f sha="${SHA}"
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          allowUpdates: true
          tag: ${{ needs.prepare.outputs.tag-name }}

  tag-image-push:
    uses: ./.github/workflows/tag_image_push.yml
    if: ${{ needs.prepare.outputs.skip != 'true' }}
    needs:
      - prepare
      - get-environment
    with:
      SOURCE_REF: ${{ needs.prepare.outputs.source-ref }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      ENVIRONMENT: ${{ needs.get-environment.outputs.environment }}
    secrets: inherit

  ee-nlc-tag-push:
    uses: ./.github/workflows/ee-nlc-tag-push.yml
    if: ${{ needs.prepare.outputs.skip != 'true' }}
    needs:
      - prepare
      - get-environment
    with:
      SOURCE_REF: ${{ needs.prepare.outputs.source-ref }}
      ENVIRONMENT: ${{ needs.get-environment.outputs.environment }}
    secrets: inherit

  readme:
    if: ${{ needs.prepare.outputs.skip != 'true' }}
    needs:
      - prepare
      - tag-image-push
      - get-environment
    uses: ./.github/workflows/update_readme.yml
    with:
      ENVIRONMENT: ${{ needs.get-environment.outputs.environment }}
    secrets: inherit
