name: Do release

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'The version to release'
        required: true
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: choice
        options:
          - ALL
          - OSS
          - EE
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      VERSION:
        description: 'The version to release'
        required: true
        type: string
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  tag:
    runs-on: ubuntu-slim
    steps:
      - uses: ./.github/actions/get-tag-name
        id: tag-name
        with:
          SOURCE_REF: ${{ inputs.VERSION }}

      - name: Create `${{ steps.tag-name.outputs.TAG_NAME }}` tag
        run: |
          # Delete remote tag _if exists_
          gh api \
              -X DELETE \
              repos/${GITHUB_REPOSITORY}/git/refs/tags/${{ steps.tag-name.outputs.TAG_NAME }} \\
              || true

          SHA=$(gh api \
            repos/${GITHUB_REPOSITORY}/git/ref/heads/${VERSION} \
            --jq .object.sha)

          # Create remote tag
          gh api \
            -X POST \
            repos/${GITHUB_REPOSITORY}/git/refs \
            -f ref=refs/tags/${{ steps.tag-name.outputs.TAG_NAME }} \
            -f sha="${SHA}"
        env:
          GH_TOKEN: ${{ github.token }}
          VERSION: ${{ inputs.VERSION }}

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          allowUpdates: true
          tag: ${{ steps.tag-name.outputs.TAG_NAME }}

  package:
    uses: ./.github/workflows/package.yml
    with:
      VERSION: ${{ inputs.VERSION }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  promote:
    uses: ./.github/workflows/tag_image_promote.yml
    with:
      VERSION: ${{ inputs.VERSION }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      HZ_REVISION: ${{ inputs.VERSION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  promote-nlc:
    if: inputs.RELEASE_TYPE != 'OSS'
    uses: ./.github/workflows/ee-nlc-tag-promote.yml
    with:
      VERSION: ${{ inputs.VERSION }}
      HZ_REVISION: ${{ inputs.VERSION }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  readme:
    needs: promote
    uses: ./.github/workflows/update_readme.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit
