name: Do release

on:
  workflow_dispatch:
    inputs:
      VERSION:
        description: 'The version to release'
        required: true
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: choice
        options:
          - ALL
          - OSS
          - EE
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      VERSION:
        description: 'The version to release'
        required: true
        type: string
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  package:
    uses: ./.github/workflows/package.yml
    with:
      VERSION: ${{ inputs.VERSION }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  promote:
    uses: ./.github/workflows/promote.yml
    with:
      VERSION: ${{ inputs.VERSION }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit
