name: Scheduled Vulnerability Scans

on:
    workflow_dispatch:
    schedule:
        - cron: '0 2 * * *'

jobs:
    trigger-vulnerability-scan:
        name: Scan ${{ matrix.ref }}
        strategy:
            fail-fast: false
            matrix:
                ref: [ 'master', '5.3.z', '5.2.z', '5.1.z', '5.0.z', '4.2.z' ]
        uses: .github/workflows/vulnerability_scan_subworkflow.yml
        with:
            ref: ${{ matrix.ref }}
        secrets:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
