name: Scheduled Vulnerability Scans

on:
    workflow_dispatch:
    schedule:
        - cron: '0 2 * * *'

jobs:
    get-branches-to-scan:
        runs-on: ubuntu-latest
        outputs:
            branches: ${{ steps.branches.outputs.branches }}
        steps:
          - id: get-maintenance-versions
            uses: hazelcast/hazelcast/.github/actions/get-supported-maintenance-versions
          - id: branches
            run: |
                # Convert maintenance versions -> Docker branches, and check `master`, too
                echo "branches=$(jq --compact-output 'map(. | tostring + ".z")  + ["master"]' <<< '${{ steps.get-maintenance-versions.outputs.versions }}')" >> ${GITHUB_OUTPUT}

    trigger-vulnerability-scan:
        needs: get-branches-to-scan
        name: Scan ${{ matrix.ref }}
        strategy:
            fail-fast: false
            matrix:
                ref: ${{ fromJSON(needs.get-branches-to-scan.outputs.branches) }}
        uses: ./.github/workflows/vulnerability_scan_subworkflow.yml
        with:
            ref: ${{ matrix.ref }}
        secrets: inherit
