name: Sonar scan
on:
  push:
    branches:
      - master
  pull_request_target:

jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: refs/pull/${{ github.event.pull_request.number }}/merge
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - uses: SonarSource/sonarqube-scan-action@v6
        with:
            args: >
                -Dsonar.organization=${{ vars.SONAR_ORGANIZATION }}
                -Dsonar.projectKey=hazelcast_hazelcast-docker
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
