name: Build OS and EE image

on:
  create:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set Release Version
        run: echo ::set-env name=RELEASE_VERSION::${GITHUB_REF:11}
      - name: Print Release Version
        run: |
          echo ${{ env.RELEASE_VERSION }}

      - name: Set up Docker Buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
        with:
          buildx-version: v0.4.1
          qemu-version: 4.2.0-7

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build/Push OSS image
        run: |
          docker buildx build --push \
            --tag hazelcast/hazelcast:${{ env.RELEASE_VERSION }} \
            --platform=linux/arm64,linux/amd64,linux/ppc64le,linux/s390x hazelcast-oss
      - name: Build/Push EE image
        run: |
          docker buildx build --push \
            --tag hazelcast/hazelcast-enterprise:${{ env.RELEASE_VERSION }} \
            --platform=linux/arm64,linux/amd64,linux/ppc64le,linux/s390x hazelcast-enterprise

      - name: Scan Hazelcast image by Azure (Trivy + Dockle)
        uses: Azure/container-scan@v0
        with:
          image-name: hazelcast/hazelcast:${{ env.RELEASE_VERSION }}
      - name: Scan Hazelcast image by Anchore
        uses: anchore/scan-action@v1
        with:
          image-reference: hazelcast/hazelcast:${{ env.RELEASE_VERSION }}
      - name: Scan Hazelcast image by Snyk
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: hazelcast/hazelcast:${{ env.RELEASE_VERSION }}
          args: --file=hazelcast-oss/Dockerfile
      - name: Scan Hazelcast Enterprise image by Azure (Trivy + Dockle)
        uses: Azure/container-scan@v0
        with:
          image-name: hazelcast/hazelcast-enterprise:${{ env.RELEASE_VERSION }}
      - name: Scan Hazelcast Enterprise image by Anchore
        uses: anchore/scan-action@v1
        with:
          image-reference: hazelcast/hazelcast-enterprise:${{ env.RELEASE_VERSION }}
      - name: Scan Hazelcast Enterprise image by Snyk
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: hazelcast/hazelcast-enterprise:${{ env.RELEASE_VERSION }}
          args: --file=hazelcast-enterprise/Dockerfile
