name: Build OS and EE image

on:
  workflow_dispatch:
    inputs:
      SOURCE_REF:
        description: 'The hazelcast-docker branch to build the image from'
        required: true
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: choice
        options:
          - ALL
          - OSS
          - EE
      HZ_REVISION:
        description: 'Commit id of Hazelcast snapshot jar'
        required: false
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      SOURCE_REF:
        description: 'The hazelcast-docker branch to build the image from'
        required: true
        type: string
      RELEASE_TYPE:
        description: 'What should be built'
        required: true
        type: string
      HZ_REVISION:
        description: 'Commit id of Hazelcast snapshot jar'
        required: false
        type: string
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  prepare:
    uses: ./.github/workflows/tag_image_prepare.yml
    with:
      SOURCE_REF: ${{ inputs.SOURCE_REF }}
      RELEASE_TYPE: ${{ inputs.RELEASE_TYPE }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}

  build:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs:
      - prepare
    strategy:
      matrix:
        jdk: ${{ fromJSON(needs.prepare.outputs.jdks) }}
        classifier: ${{ fromJSON(needs.prepare.outputs.distribution-classifiers) }}
        distribution-type: ${{ fromJSON(needs.prepare.outputs.distribution-types) }}
    env:
      LOCAL_IMAGE_NAME: localhost:5000/${{ matrix.distribution-type.image-name }}
      HZ_VERSION: ${{ needs.prepare.outputs.hz-version }}
      TEST_CONTAINER_NAME: hazelcast-test
    services:
      registry:
        image: registry:latest
        ports:
          - 5000:5000
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.SOURCE_REF }}
          path: source_path
          sparse-checkout: ${{ matrix.distribution-type.docker-dir }}

      - name: Get supported platforms
        id: platforms
        uses: hazelcast/docker-actions/get-supported-platforms@master
        with:
          dockerfile: ${{ matrix.distribution-type.docker-dir }}/Dockerfile
          jdk: ${{ matrix.jdk }}


      - name: Setup Docker
        uses: ./.github/actions/setup-docker
        with:
          platforms: ${{ steps.platforms.outputs.platforms }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_DEV_INFRA_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          aws-region: 'us-east-1'

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            JFROG,JFROG/READONLY_DEV_ACCOUNT
          parse-json-secrets: true

      - id: authenticate-jfrog-snapshot-internal
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ env.JFROG_URL }}
        with:
          oidc-provider-name: ${{ github.repository_owner }}-snapshot-internal

      - uses: s4u/maven-settings-action@894661b3ddae382f1ae8edbeab60987e08cf0788 # v4.0.0
        with:
          servers: |
            [{
                "id": "snapshot-internal",
                "username": "${{ steps.authenticate-jfrog-snapshot-internal.outputs.oidc-user }}",
                "password": "${{ steps.authenticate-jfrog-snapshot-internal.outputs.oidc-token }}"
            }]

      - name: Download the distribution file
        uses: hazelcast/docker-actions/download-hz-dist@master
        id: download-hz-dist
        with:
          repo-vars-as-json: ${{ toJSON(vars) }}
          distribution: ${{ matrix.distribution-type.distribution }}
          hz_version: ${{ env.HZ_VERSION }}
          classifier: ${{ matrix.classifier }}
          packaging: "zip"
          output_file: "source_path/${{ matrix.distribution-type.docker-dir }}/${{ matrix.distribution-type.distribution }}-distribution.zip"

      - id: get-tags-to-push
        uses: ./.github/actions/get-tags-to-push
        with:
          hz-version: ${{ env.HZ_VERSION }}
          jdk: ${{ matrix.jdk }}
          default-jdk: ${{ needs.prepare.outputs.default-jdk }}
          classifier: ${{ matrix.classifier }}
          # LTS is implicitly EE only
          is-latest-lts: ${{ matrix.distribution-type.label == 'ee' && needs.prepare.outputs.is-latest-lts == 'true' }}

      - id: qualified-tags
        run: |
          {
            echo 'tags<<EOF'
            for tag in ${TAGS_TO_PUSH[@]}; do
              echo "${LOCAL_IMAGE_NAME}:${tag}"
            done
            echo 'EOF'
          } >> "${GITHUB_OUTPUT}"
        env:
         TAGS_TO_PUSH: ${{ steps.get-tags-to-push.outputs.all-destination-tags }}

      - name: Determine labels
        id: labels
        if: ${{ inputs.HZ_REVISION != '' }}
        run: |
          echo "label=hazelcast.revision=${HZ_REVISION}" >> ${GITHUB_OUTPUT}
        env:
          HZ_REVISION: ${{ inputs.HZ_REVISION }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: source_path/${{ matrix.distribution-type.docker-dir }}
          labels: ${{ steps.labels.outputs.label }}
          platforms: ${{ steps.platforms.outputs.platforms }}
          push: true
          tags: ${{ steps.qualified-tags.outputs.tags }}
          build-args: |
            JDK_VERSION=${{ matrix.jdk }}

      - name: Delete the distribution file
        run: |
          # GitHub Actions have limited disk capacity
          # The distribution is large and no longer required now the image has been built
          rm "${{ steps.download-hz-dist.outputs.output_file }}"

      - name: Run smoke test against image
        timeout-minutes: 2
        run: |
          .github/scripts/simple-smoke-test.sh ${LOCAL_IMAGE_NAME}:${{ steps.get-tags-to-push.outputs.primary-tag }} "${TEST_CONTAINER_NAME}" ${{ matrix.distribution-type.label }} "${HZ_VERSION}" "${{ matrix.jdk }}"
        env:
          HZ_LICENSEKEY: ${{ matrix.distribution-type.label == 'ee' && secrets.HAZELCAST_ENTERPRISE_KEY || '' }}

      - uses: hazelcast/docker-actions/assert-image-size@master
        with:
          image: ${{ env.LOCAL_IMAGE_NAME}}:${{ steps.get-tags-to-push.outputs.primary-tag }}

      - name: Get docker logs
        if: ${{ always() }}
        run: |
          docker logs "${TEST_CONTAINER_NAME}" > "docker.log" || true

      - name: Store docker logs as artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v6
        with:
          name: docker-logs-tag-image-push-${{ matrix.distribution-type.image-name }}-${{ steps.get-tags-to-push.outputs.primary-tag }}
          path: docker.log

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - id: authenticate-jfrog-write-dev-account
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: https://${{ env.JFROG_URL }}
        with:
          oidc-provider-name: ${{ github.repository_owner }}-write-dev-account

      - name: Login to JFrog
        uses: docker/login-action@v3
        with:
          registry: ${{ env.JFROG_URL }}
          username: ${{ steps.authenticate-jfrog-write-dev-account.outputs.oidc-user }}
          password: ${{ steps.authenticate-jfrog-write-dev-account.outputs.oidc-token }}

      - name: Push image to remote registry
        run: |
          if [[ "${{ matrix.distribution-type.label }}" == "oss" && "${HZ_VERSION}" =~ SNAPSHOT ]]; then
            remote_registry=${{ env.JFROG_URL }}/docker/hazelcast
          else
            remote_registry=${{ vars.DOCKERHUB_NAMESPACE }}
          fi

          # Skopeo expects HTTPS registry but local is HTTP
          skopeo sync \
            --all \
            --src-tls-verify=false \
            --src docker \
            --dest docker \
            ${LOCAL_IMAGE_NAME} \
            ${remote_registry}

  create-release:
    needs:
      - prepare
      - build
    if: ${{ !contains(needs.prepare.outputs.hz-version, 'SNAPSHOT') }}
    runs-on: ubuntu-latest
    steps:
      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          tag: ${{ inputs.SOURCE_REF }}

  readme:
    needs:
      - prepare
      - build
    if: ${{ !contains(needs.prepare.outputs.hz-version, 'SNAPSHOT') }}
    uses: ./.github/workflows/update_readme.yml
    with:
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  push-rhel:
    name: Push RHEL image
    needs:
      - prepare
      - build
    # Restrict to non-SNAPSHOT for `live` environment only
    if: needs.prepare.outputs.should-build-ee == 'true' && !(inputs.ENVIRONMENT == 'live' && contains(needs.prepare.outputs.hz-version, 'SNAPSHOT'))
    uses: ./.github/workflows/tag_image_push_rhel.yml
    with:
      HZ_VERSION: ${{ needs.prepare.outputs.hz-version }}
      JDKS: ${{ needs.prepare.outputs.jdks }}
      IS_LATEST_LTS: ${{ needs.prepare.outputs.is-latest-lts }}
      DEFAULT_JDK: ${{ needs.prepare.outputs.default-jdk }}
      ENVIRONMENT: ${{ inputs.ENVIRONMENT }}
    secrets: inherit

  failure-notifications:
    name: Failure notification
    if: failure() && github.triggering_actor == 'devOpsHazelcast'
    needs:
      - build
      - push-rhel
      - readme
      - create-release
    uses: ./.github/workflows/slack-notification.yml
    secrets: inherit
