name: Build EE RHEL image

on:
  push:
    branches:
      - "!*"
    tags:
      - "v4.*"
      - "v5.*"
  workflow_dispatch:
    inputs:
      HZ_VERSION:
        description: 'Version of Hazelcast to build the image for, e.g. 5.1.1, 5.0.1, 4.2.3'
        required: true
      RELEASE_VERSION:
        description: 'Version of the docker image e.g. 5.1.1, 5.1.1-1, defaults to HZ_VERSION'
        required: false
jobs:
  build:
    defaults:
      run:
        shell: bash
    env:
      SCAN_REGISTRY: "quay.io"
      SCAN_REGISTRY_USER: ${{ secrets.SCAN_REGISTRY_USER }}
      SCAN_REGISTRY_PASSWORD: ${{ secrets.SCAN_REGISTRY_PASSWORD }}
      TIMEOUT_IN_MINS: 120
      HZ_ENTERPRISE_LICENSE: ${{ secrets.HZ_ENTERPRISE_LICENSE }}
      OCP_LOGIN_USERNAME: ${{ secrets.OCP_LOGIN_USERNAME }}
      OCP_LOGIN_PASSWORD: ${{ secrets.OCP_LOGIN_PASSWORD }}
      OCP_CLUSTER_URL: ${{ secrets.OCP_CLUSTER_URL }}
      RHEL_API_KEY: ${{ secrets.RHEL_API_KEY }}
      HZ_VERSION: ${{ github.event.inputs.HZ_VERSION }}
      RELEASE_VERSION: ${{ github.event.inputs.RELEASE_VERSION }}

    runs-on: ubuntu-latest
    steps:
      - name: Set HZ version as environment variable
        run: |
          if [ -z "${{ env.HZ_VERSION }}" ]; then
             HZ_VERSION=${GITHUB_REF:11}
          else
             HZ_VERSION=${{ env.HZ_VERSION }}
          fi
          echo "HZ_VERSION=${HZ_VERSION}" >> $GITHUB_ENV

      - name: Set Release version as environment variable
        run: |
          if [ -z "${{ env.RELEASE_VERSION }}" ]; then
             RELEASE_VERSION=${HZ_VERSION}
          else
             RELEASE_VERSION=${{ env.RELEASE_VERSION }}
          fi
          echo "RELEASE_VERSION=${RELEASE_VERSION}" >> $GITHUB_ENV
      - name: Checkout to Management Center Openshift
        uses: actions/checkout@v3
        with:
          repository: hazelcast/management-center-openshift
          path: management-center-openshift
          fetch-depth: 0
          ref: v${{ env.HZ_VERSION }}

      - name: Set Hazelcast Enterprise RHEL repository and password
        working-directory: management-center-openshift
        run: |
          MAJOR_VERSION=$(echo "${HZ_VERSION:0:1}")
          if [[ "$MAJOR_VERSION" == "4" ]]; then
            echo "HZ_EE_RHEL_REPOSITORY=${{ secrets.HZ_4_EE_RHEL_REPOSITORY }}" >> $GITHUB_ENV
            echo "HZ_EE_RHEL_REPO_PASSWORD=${{ secrets.HZ_4_EE_RHEL_REPO_PASSWORD }}" >> $GITHUB_ENV
          elif [[ "$MAJOR_VERSION" == "5" ]]; then
            echo "HZ_EE_RHEL_REPOSITORY=${{ secrets.HZ_5_EE_RHEL_REPOSITORY }}" >> $GITHUB_ENV
            echo "HZ_EE_RHEL_REPO_PASSWORD=${{ secrets.HZ_5_EE_RHEL_REPO_PASSWORD }}" >> $GITHUB_ENV
          else
            echo "Major version cannot be ${MAJOR_VERSION}."
            exit 1
          fi
          echo "HZ_EE_MAJOR_VERSION=${MAJOR_VERSION}" >> $GITHUB_ENV

      - name: Set Management Center Version to be used in the tests
        working-directory: management-center-openshift
        run: |
          FILTERED_TAGS=$(git tag --list "v${HZ_EE_MAJOR_VERSION}*" |  grep -E -v '.*(BETA|-).*' )
          LATEST_TAG=$(echo -en "${FILTERED_TAGS}" | sort | tail -n 1)
          echo $LATEST_TAG
          echo "HZ_MC_VERSION=${LATEST_TAG:1}" >> $GITHUB_ENV

      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set RHEL image as environment variable
        run: |
          PROJECT_ID=$( echo ${HZ_EE_RHEL_REPOSITORY} | grep -m 1 -Po "/\K.+(?=/)" )
          echo "RHEL_IMAGE=quay.io/redhat-isv-containers/${PROJECT_ID:6}:${RELEASE_VERSION}" >> $GITHUB_ENV

      - name: Build the Hazelcast Enterprise image
        run: |
          docker build \
                --build-arg HZ_VERSION=${HZ_VERSION} \
                --tag ${RHEL_IMAGE} hazelcast-enterprise

      - name: Log in to Red Hat Scan Registry and Push the Image
        run: |
          docker login ${SCAN_REGISTRY} -u ${SCAN_REGISTRY_USER} -p ${SCAN_REGISTRY_PASSWORD}
          docker push ${RHEL_IMAGE}

      - name: Install preflight tool
        run: |
          PREFLIGHT_VERSION=$(curl -s https://api.github.com/repos/redhat-openshift-ecosystem/openshift-preflight/releases/latest | grep 'tag_name' | cut -d\" -f4)
          wget https://github.com/redhat-openshift-ecosystem/openshift-preflight/releases/download/${PREFLIGHT_VERSION}/preflight-linux-amd64
          chmod +x preflight-linux-amd64

      - name: Run preflight scan
        run: |
          PROJECT_ID=$( echo ${HZ_EE_RHEL_REPOSITORY} | grep -m 1 -Po "/\K.+(?=/)" )
          ./preflight-linux-amd64 check container ${RHEL_IMAGE} \
          --submit --pyxis-api-token=${RHEL_API_KEY} \
          --certification-project-id=$PROJECT_ID \
          --docker-config ~/.docker/config.json

      - name: Wait for Scan to Complete
        run: |
          PROJECT_ID=$( echo ${HZ_EE_RHEL_REPOSITORY} | grep -m 1 -Po "/\K.+(?=/)" )
          VERSION=${RELEASE_VERSION}
          source .github/scripts/publish-rhel.sh

          wait_for_container_scan "$PROJECT_ID" "$VERSION" "$RHEL_API_KEY" "$TIMEOUT_IN_MINS"

      - name: Deploy Hazelcast Cluster
        run: |
          WORKDIR=$(pwd)/.github/scripts
          PROJECT=hz-ee-test-${{ github.run_id }}
          .github/scripts/smoke-test.sh \
                        "$WORKDIR" \
                        "$PROJECT"  \
                        "$OCP_LOGIN_USERNAME"  \
                        "$OCP_LOGIN_PASSWORD" \
                        "$OCP_CLUSTER_URL" \
                        "$HZ_EE_RHEL_REPO_PASSWORD" \
                        "$HZ_EE_RHEL_REPOSITORY" \
                        "$RELEASE_VERSION" \
                        "$CLUSTER_SIZE" \
                        "$HZ_ENTERPRISE_LICENSE" \
                        "$HZ_MC_VERSION"

        env:
          CLUSTER_SIZE: 3

      - name: Validate Cluster Size
        run: |
          PROJECT=hz-ee-test-${{ github.run_id }}
          HZ_NAME=$PROJECT
          NAME=hazelcast-enterprise

          source .github/scripts/cluster-verification.sh

          wait_for_last_member_initialization $CLUSTER_SIZE

          verify_cluster_size $CLUSTER_SIZE

          oc wait --for=condition=Ready --timeout=120s pod ${HZ_NAME}-${NAME}-mancenter-0

          verify_management_center $CLUSTER_SIZE
        env:
          CLUSTER_SIZE: 3

      - name: Clean up After Test
        if: always()
        run: |
          PROJECT=hz-ee-test-${{ github.run_id }}
          .github/scripts/clean-up.sh $PROJECT

      - name: Publish the Hazelcast Enterprise image
        run: |
          PROJECT_ID=$( echo ${HZ_EE_RHEL_REPOSITORY} | grep -m 1 -Po "/\K.+(?=/)" )
          VERSION=${RELEASE_VERSION}
          source .github/scripts/publish-rhel.sh

          publish_the_image "$PROJECT_ID" "$VERSION" "$RHEL_API_KEY"
          wait_for_container_publish "$PROJECT_ID" "$VERSION" "$RHEL_API_KEY" "$TIMEOUT_IN_MINS"
