name: Update `README` on Docker Hub

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  get-repositories:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          echo "matrix<<EOF" >> ${GITHUB_OUTPUT}
          echo "{\"include\": [" >> ${GITHUB_OUTPUT}
          echo "{\"label\": \"Hazelcast\", \"image_name\": \"${{ vars.DOCKERHUB_OSS_IMAGE_NAME }}\"}," >> ${GITHUB_OUTPUT}
          echo "{\"label\": \"Hazelcast Enterprise\", \"image_name\": \"${{ vars.DOCKERHUB_EE_IMAGE_NAME }}\"}," >> ${GITHUB_OUTPUT}
          echo "]}" >> ${GITHUB_OUTPUT}
          echo "EOF" >> ${GITHUB_OUTPUT}

  update-readme:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    needs: get-repositories
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.get-repositories.outputs.matrix) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Generate Docker Hub Description
        run: |
          .github/scripts/generate-docker-hub-description.sh
        env:
          NAMESPACE: ${{ vars.DOCKERHUB_NAMESPACE }}
          OSS_IMAGE_NAME: ${{ vars.DOCKERHUB_OSS_IMAGE_NAME }}
          EE_IMAGE_NAME: ${{ vars.DOCKERHUB_EE_IMAGE_NAME }}
          USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: hazelcast/${{ matrix.image_name }}
          short-description: ${{ matrix.label }} Docker Image
          readme-filepath: ./README-docker.md

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_DEV_INFRA_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          aws-region: 'us-east-1'

      - name: Get Secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v2
        with:
          secret-ids: |
            SLACK_WEBHOOK,SLACK/WEBHOOK_HAZELCAST_DOCKER_NOTIFICATIONS
          parse-json-secrets: true

      - name: Slack notification
        uses: hazelcast/docker-actions/slack-notification@master
        if: failure() && github.event_name != 'workflow_dispatch'
        with:
          slack-webhook-url: ${{ env.SLACK_WEBHOOK }}
