name: Update `README` on Docker Hub

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - master
    paths:
      - README.md
      - .github/scripts/generate-docker-hub-description.sh
      - .github/workflows/update_readme.yml

jobs:
  update-readme:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repository:
          - hazelcast/hazelcast
          - hazelcast/hazelcast-enterprise
        include:
          - repository: hazelcast/hazelcast
            short-description: Hazelcast Docker Image
          - repository: hazelcast/hazelcast-enterprise
            short-description: Hazelcast Enterprise Docker Image

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Regardless of how triggered, only use the latest `README`
          ref: master

      - name: Generate Docker Hub Description
        run: |
          .github/scripts/generate-docker-hub-description.sh

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@e98e4d1628a5f3be2be7c231e50981aee98723ae # v4.0.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: ${{ matrix.repository }}
          short-description: ${{ matrix.short-description }}
          readme-filepath: ./README-docker.md

      - name: Slack notification
        uses: ./.github/actions/slack-notification
        if: failure()
        with:
          slack-webhook-url: ${{ secrets.SLACK_WEBHOOK }}
