name: Update `README` on Docker Hub

on:
  workflow_dispatch:
    inputs:
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: environment
  workflow_call:
    inputs:
      ENVIRONMENT:
        description: 'Environment to use'
        required: true
        type: string

jobs:
  get-repositories:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: |
          echo "matrix<<EOF" >> ${GITHUB_OUTPUT}
          echo "{\"include\": [" >> ${GITHUB_OUTPUT}
          echo "{\"label\": \"Hazelcast\", \"image_name\": \"${{ vars.DOCKERHUB_OSS_IMAGE_NAME }}\"}," >> ${GITHUB_OUTPUT}
          echo "{\"label\": \"Hazelcast Enterprise\", \"image_name\": \"${{ vars.DOCKERHUB_EE_IMAGE_NAME }}\"}," >> ${GITHUB_OUTPUT}
          echo "]}" >> ${GITHUB_OUTPUT}
          echo "EOF" >> ${GITHUB_OUTPUT}

  update-readme:
    environment: ${{ inputs.ENVIRONMENT }}
    runs-on: ubuntu-latest
    needs: get-repositories
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.get-repositories.outputs.matrix) }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Generate Docker Hub Description
        run: |
          .github/scripts/generate-docker-hub-description.sh
        env:
          NAMESPACE: ${{ vars.DOCKERHUB_NAMESPACE }}
          OSS_IMAGE_NAME: ${{ vars.DOCKERHUB_OSS_IMAGE_NAME }}
          EE_IMAGE_NAME: ${{ vars.DOCKERHUB_EE_IMAGE_NAME }}
          USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: hazelcast/${{ matrix.image_name }}
          short-description: ${{ matrix.label }} Docker Image
          readme-filepath: ./README-docker.md

  failure-notifications:
    name: Failure notification
    if: failure() && github.event_name != 'workflow_dispatch'
    needs: update-readme
    uses: ./.github/workflows/slack-notification.yml
    secrets: inherit
