name: Vulnerability Scan

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, edited ]

jobs:
    trigger-vulnerability-scan-master:
        uses: .github/workflows/vulnerability_scan_subworkflow.yml
        with:
            ref: ${{ github.ref }}
        secrets:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
            