name: Vulnerability Scan

on:
  push:
    branches:
      - 5.1.z

jobs:
  scan-oss:
    env:
      DOCKLE_HOST: "unix:///var/run/docker.sock"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build OSS image
        run: |
          docker build -t hazelcast/oss:${{ github.sha }} hazelcast-oss

      - name: Scan OSS image by Trivy
        if: always()
        uses: aquasecurity/trivy-action@0.11.2
        with:
          image-ref: hazelcast/oss:${{ github.sha }}
          trivy-config: .github/containerscan/trivy.yaml

      - name: Scan OSS image by Dockle
        if: always()
        uses: goodwithtech/dockle-action@main
        with:
          image: hazelcast/oss:${{ github.sha }}
          format: 'list'
          exit-code: '1'
          exit-level: 'warn'

      - name: Scan OSS image by Snyk
        if: always()
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: hazelcast/oss:${{ github.sha }}
          args: --file=hazelcast-oss/Dockerfile --policy-path=.github/containerscan --severity-threshold=high --exclude-base-image-vulns

  scan-ee:
    env:
      DOCKLE_HOST: "unix:///var/run/docker.sock"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Build EE image
        run: |
          docker build -t hazelcast/ee:${{ github.sha }} hazelcast-enterprise

      - name: Scan EE image by Trivy
        if: always()
        uses: aquasecurity/trivy-action@0.11.2
        with:
          image-ref: hazelcast/ee:${{ github.sha }}
          trivy-config: .github/containerscan/trivy.yaml

      - name: Scan EE image by Dockle
        if: always()
        uses: goodwithtech/dockle-action@main
        with:
          image: hazelcast/ee:${{ github.sha }}
          format: 'list'
          exit-code: '1'
          exit-level: 'warn'

      - name: Scan EE image by Snyk
        if: always()
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          image: hazelcast/ee:${{ github.sha }}
          args: --file=hazelcast-enterprise/Dockerfile --policy-path=.github/containerscan --severity-threshold=high --exclude-base-image-vulns
