name: Vulnerability Scan

on:
  push:
    branches:
      - master
    paths:
      - '**/Dockerfile'
  pull_request:
    paths:
      - '**/Dockerfile'

jobs:
    trigger-vulnerability-scan-master:
        uses: ./.github/workflows/vulnerability_scan_subworkflow.yml
        with:
            ref: ${{ github.ref }}
        secrets: inherit
            
